<section class="preview">
    <div class="animations">
        <img src="src/img/img6.gif">
        <img src="src/img/img5.gif">
        <img src="src/img/img4.gif">
        <img src="src/img/img3.gif">
        <img src="src/img/img2.gif">
        <img src="src/img/img1.gif">
    </div>
    <div class="doc">
        <h2 style="color: orange; font-size: 30px;">About program</h2>
        <p>This is an editor for creation of images and animations.</p>
        <p>There are next tools here: priming, move, select, contrast, paint, pen, export, 
        canvas-sizes,<br>hidden/show pixel, color, shadow, eraser, circle, triangle, heart, text.</p>
        <p>They all are divided into 4 sections: toolbar, slides, canvas, animation.</p>
        <p>The toolbar section contains the main tools for drawing. They are available on click and <br> some also on keypress.</p>
        <p>The slides section contains slides that you have created on canvas. You add your slide in this section by pressing the enter key</p>
        <p>You can manage your slides collection via buttons: add, delete, copy and reorder.</p>
        <p>The process of drawing is carried out in the canvas section. Set at first the size and view of yor canvas. 
        By default the size is 32 x 32 and pixels are visible. There is also on the top left a link to save canvas as an image</p>
        <p>The last section is for animation playing and saving. You can manage the speed of animation via buttons, save state of canvas and export. 
        Sliders bar for changing size of pen, text and figures is also here.</p>
        <p><img src="src/img/bucket1.png" style="width: 30px; height: 30px;"> fills all pixel of the same color. Click on this image and then on canvas. It works with select tool too<br>
        - select at first the area and after that click on the image.</p>
        <p><img src="src/img/move.png" style="width: 30px; height: 30px;"> moves the selected area. Click on select tool, after selecting some area press Enter and then click on moove and use it.</p>
        <p><img src="src/img/select.png" style="width: 30px; height: 30px;"> selects some pixels on the canvas. Click on the image, then on canvas, stretch and press Enter.</p>
        <p><img src="src/img/light-dark.png" style="width: 30px; height: 30px;">lightens or darkens selected pixels via slider. Works only with select tool.</p>
        <p><img src="src/img/i1.png" style="width: 30px; height: 30px;">paints a pixel the choosen color. Click on shadow to paint with it and click on left button to use second color. </p>
        <p><img src="src/img/pen2.png" style="width: 30px; height: 30px;"> - pen.</p>
        <p><img src="src/img/shadow.jpg" style="width: 30px; height: 30px;"> adds shadow effect.</p>
        <p><img src="src/img/eraser1.png" style="width: 30px; height: 30px;">erases one pixel.</p>
        <p><img src="src/img/erase-all2.png" style="width: 30px; height: 30px;">erases all pixels on canvas.</p>
        <p><img src="src/img/i2.png" style="width: 30px; height: 30px;">chooses and changes the color.</p>
    </div>
    <div class="project"><h1>Start your project with Piskel-Clone</h1>
    <a class="start-btn btn-center">Start</a></div>
</section>
