<div class="section-sliders">
    <input class="figures-sizes" id="circle-size" title="circle-size" type="range" min="5" max="200" step="5" value="50">
    <input  class="figures-sizes" id="triangle-size" title="triangle-size" type="range" min="5" max="200" step="5" value="100">
    <input class="figures-sizes" id="font-size" title="font-size" type="range" min="10" max="100" step="2" value="50">
    <input class="figures-sizes" id="pen-size" title="pen-size" type="range" min="1" max="100" step="1" value="5">
</div>
