.storage {
    display: inline-block;
    margin-top: 15px;
    height: 30px;
}

.storage button {
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
}

.load, .save {
    margin-left: 10px;
    padding: 2px;
    border-radius: 2px;
}

.load:hover, .save:hover {
    border-color: rgba(0, 0, 0, 0.2);
}

.load:active, .save:active {
    border-color: rgba(0, 0, 0, 0.5);
    outline: none;
}

.load:focus, .save:focus {
    outline: none;
}
