<section class="toolbar">
    <div class="changing" title="change">
        <ul>
            <li><a href="#" id="priming"><img src="src/img/bucket1.png" alt="priming"></a></li>
            <li><a href="#" id="move"><img src="src/img/move.png" alt="move"></a></li>
            <li><a href="#" id="select" data-active="false"><img src="src/img/select.png" alt="select"></a></li>
            <li><a href="#" id="light-dark" data-active="false"><img src="src/img/light-dark.png" alt="light-dark"></a></li>
            <input id="slider" type="range" min="0" max="2" step="0.1" value="1">
        </ul>
    </div>
    <div class="paint" title="paint">
        <ul>
            <li><a href="#" id="paint"><img src="src/img/i1.png" alt="paint"></a></li>
            <li><a href="#" id="pen"><img src="src/img/pen2.png" alt="pen"></a></li>
            <li><a href="#" id="choose"><img src="src/img/i2.png" alt="choose"></a></li>
            <img class="shadow" data-state="off" src="src/img/shadow.jpg">
            <li><a href="#" id="erase"><img src="src/img/eraser1.png" alt="erase"></a></li>
            <li><a href="#" id="erase-all"><img src="src/img/erase-all2.png" alt="erase-all"></a></li>
        </ul>
    </div>
    <div class="figures" title="figures">
        <ul>
            <li><a href="#" id="circle"><img src="src/img/circle3.png" alt="circle"></a></li>
            <li><a href="#" id="triangle"><img src="src/img/triangle.png" alt="triangle"></a></li>
            <li><a href="#" id="heart"><img src="src/img/h_1.jpg" alt="heart"></a></li>
            <li><a href="#" id="text"><img src="src/img/text1.png" alt="text"></a></li>
        </ul>
    </div>
    <input type="color" class="color">
</section>
