<div class="export" title="export">
    <span><a href="#" class="save-file">Export to</a></span>
    <select class="file-type">
        <option value="jpg">.jpg</option>
        <option value="gif">.gif</option>
    </select>
</div>
