  {
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "chrome": "72"
          },
        },
      ]
    ],
    "env": {
      "test": {
        "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
      }
    },
    "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
}
