<div class="layers">
    <div class="layers-img"></div>
    <div class="layers-button">
        <button class="add-layer">Add to canvas </button>
        <button class="delete-layer">Delete layer</button>
        <button class="show-layer">Show next</button>
    </div>
</div>
