<section class="view" title="play animation">
    <div class="preview-animation">
        <canvas class="c-2"></canvas>
    </div>
    <button class="btn" id="fps2">2FPS</button>
    <button class="btn" id="fps4">4FPS</button>
    <button class="btn" id="fps8">8FPS</button>
    <button class="btn" id="full">full</button>
</section>
