<section class="canvases" title="canvas slides">
    <div class="container">
        <div class="slide" id="slide-1">
        </div>
    </div>
    <div class="btn-group">
        <button class="add">Add</button>
        <button class="delete">Delete</button>
        <button class="copy">Copy</button>
    </div>
</section>
