<section class="canvas row">
    <a href="#" id="save-img" download="image.png">Save image</a>
    <img id="img">
    <div class="radios">
        <label class="radio-group"><input name="canvas-size" type="radio" value="48"> 48 x 48</label>
        <label class="radio-group"><input name="canvas-size" type="radio" value="32" checked> 32 x 32</label>
        <label class="radio-group"><input name="canvas-size" type="radio" value="24"> 24 x 24</label>
    </div>
    <div class="hidden-pixel"></div>
    <button class="create-layer">Add to layer</button>
    <input type="color" class="color-ignore">
</section>
